---
layout: particles_header
title: People
lead: Meet the GMLG staff
description: Meet the people in GMLG.
---
{% assign people = site.data.people %}
<!-- Leader section-->
<section>
    <div class="container px-4">
        <div class="row g-4 justify-content-center align-items-center text-center text-md-start">
            {% assign leader = people | where: "group", "leader" | first %}
            {% include leader_item.html leader=leader %}
        </div>
    </div>
</section>
<!-- Team section-->
<section class="bg-light">
    <div class="container px-4">
        <div class="row g-4 justify-content-center align-items-top text-center">
            <div class="col-12"><h2>Research Team</h2></div>
            {% assign team = people | where: "group", "team" %}
            {% for person in team %}
                {% include people_item.html person=person %}
            {% endfor %}
        </div>
        <div class="row g-4 mt-4 justify-content-center align-items-top text-center">
            <div class="col-12"><h2>Affiliate Senior Researchers</h2></div>
            {% assign affiliate = people | where: "group", "affiliate" %}
            {% for person in affiliate %}
                {% include people_item.html person=person %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- External section-->
<section>
    <div class="container px-4">
        <div class="row g-4 justify-content-center align-items-top text-center">
            <div class="col-12"><h2>External</h2></div>
            {% assign external = people | where: "group", "external" %}
            {% for person in external %}
                {% include people_item.html person=person %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- Alumni section-->
<section class="bg-light">
    <div class="container px-4">
        <div class="row g-4 justify-content-center align-items-top">
            <div class="col-12 text-center"><h2>Alumni</h2></div>
            <ul>
            {% assign alumni = people | where: "group", "alumni" %}
            {% for person in alumni %}
                <li><a href="{{person.links.website}}">{{person.name}} <strong>{{person.surname}}</strong></a>, {{person.now}}.<br>
                    {{person.description}} ({{person.period}})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>